@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-darkbg: #09090b;
  --color-darkcard: #18181b;
  --color-darkborder: #27272a;
}

html {
  scroll-behavior: smooth;
}

/* Custom Premium Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}

button {
  cursor: pointer;
}

@utility transition-layout {
  transition-property: width, max-width, height, max-height, padding, margin, opacity, transform;
}

@keyframes slideFromBottom {
  from { opacity: 0; transform: translateY(50px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes slideFromLeft {
  from { opacity: 0; transform: translateX(-50px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slideFromRight {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}

/* Lenis Smooth Scroll CSS */
html.lenis, html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}
